<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>新人专区</string>
		<key>subtitle</key>
		<string>新人特享 专享福利</string>
		<key>goods</key>
		<array>
			<dict>
				<key>url</key>
				<string>http://d06.res.meilishuo.net/img/_o/13/56/4e1d1856e24187fd09a7a576b67a_300_120.cg.png</string>
			</dict>
			<dict>
				<key>url</key>
				<string>http://d05.res.meilishuo.net/img/_o/52/d4/46f0317a66391dc902dea3c61965_320_120.cf.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>每日9.9元时尚优选</string>
		<key>subtitle</key>
		<string>聪明之选 轻松百变</string>
		<key>goods</key>
		<array>
			<dict>
				<key>url</key>
				<string>http://d02.res.meilishuo.net/img/_o/41/2d/0c213bd472f3bfb2b71b4544fdc5_338_682.cg.jpg_b4a1aa6f_s0_200_403.jpg</string>
			</dict>
			<dict>
				<key>url</key>
				<string>http://d03.res.meilishuo.net/img/_o/89/74/c8a206811377c67533e8a595d56e_338_338.cg.jpg_fa5682c2_s0_200_200.jpg</string>
			</dict>
			<dict>
				<key>url</key>
				<string>http://d05.res.meilishuo.net/img/_o/b0/d4/974cc5c09593a7217df77e8af72c_338_338.ch.jpg_393ed309_s0_200_200.jpg</string>
			</dict>
			<dict>
				<key>url</key>
				<string>http://d05.res.meilishuo.net/img/_o/4a/6d/168f8d4e837fd99cd807452b2b65_338_338.cg.jpg_9848a069_s0_200_200.jpg</string>
			</dict>
			<dict>
				<key>url</key>
				<string>http://d03.res.meilishuo.net/img/_o/02/88/2987dd230bd1f4c6a9795e066eeb_338_338.ch.jpg_2079d6d7_s0_200_200.jpg</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>goods</key>
		<array>
			<dict>
				<key>url</key>
				<string>http://d03.res.meilishuo.net/img/_o/5f/72/b77f7cb89ac38e06c84c58e14132_236_254.cf.jpg_59fdbe70_s0_140_150.jpg</string>
			</dict>
			<dict>
				<key>url</key>
				<string>http://d03.res.meilishuo.net/img/_o/39/ee/4a26dce52d9acf0c8958ffe62f81_236_236.ch.jpg_e2653030_s0_140_140.jpg</string>
			</dict>
			<dict>
				<key>url</key>
				<string>http://d02.res.meilishuo.net/img/_o/49/02/517e78f62d6e06819ff7b77b0691_236_236.ch.jpg_e073e1ee_s0_140_140.jpg</string>
			</dict>
			<dict>
				<key>url</key>
				<string>http://d02.res.meilishuo.net/img/_o/fc/b8/cd20e1c3ce9d2af570ee77910c11_236_236.cg.jpg_47e182af_s0_140_140.jpg</string>
			</dict>
			<dict>
				<key>url</key>
				<string>http://d04.res.meilishuo.net/img/_o/d9/63/d9da5f320765cb81fa4f2e8abdab_236_236.cg.jpg_eea4cabc_s0_140_140.jpg</string>
			</dict>
			<dict>
				<key>url</key>
				<string>http://d03.res.meilishuo.net/img/_o/71/27/1d91838e57edf9ca5c158346070b_236_236.ch.jpg_ebaf3472_s0_140_140.jpg</string>
			</dict>
			<dict>
				<key>url</key>
				<string>http://imgtest-dl.meiliworks.com/img/_o/fc/bd/284c9eabc63f0b271392d7c89350_236_236.cf.jpg_fed78852_s0_140_140.jpg</string>
			</dict>
			<dict>
				<key>url</key>
				<string>http://d05.res.meilishuo.net/img/_o/d8/c3/61200310d53bfd655bf9cd5dac0b_236_236.ch.jpg_3921e894_s0_140_140.jpg</string>
			</dict>
			<dict>
				<key>url</key>
				<string>http://d04.res.meilishuo.net/img/_o/d4/7a/82537c3807e757f2163da0bd7ee7_236_236.ch.jpg_03426256_s0_140_140.jpg</string>
			</dict>
			<dict>
				<key>url</key>
				<string>http://d05.res.meilishuo.net/img/_o/78/a0/b9711a913bc6999ee6cd9ed9d5c9_236_236.ch.jpg_ee7be612_s0_140_140.jpg</string>
			</dict>
			<dict>
				<key>url</key>
				<string>http://d05.res.meilishuo.net/img/_o/24/37/9478546a1d6078debb26c3329ac5_236_236.cg.jpg_b63926bc_s0_140_140.jpg</string>
			</dict>
			<dict>
				<key>url</key>
				<string>http://d06.res.meilishuo.net/img/_o/35/f5/6fd06436bea4b559f00117eabbbf_236_236.cf.jpg_2458181c_s0_140_140.jpg</string>
			</dict>
			<dict>
				<key>url</key>
				<string>http://d05.res.meilishuo.net/img/_o/88/38/154f3739049bf28f44c146e345d3_236_236.cf.jpg_7bb296ab_s0_140_140.jpg</string>
			</dict>
			<dict>
				<key>url</key>
				<string>http://d04.res.meilishuo.net/img/_o/66/9e/63fa5aafbd99654ccfc2f18bf029_236_236.ch.jpg_a89ac1a3_s0_140_140.jpg</string>
			</dict>
		</array>
		<key>subtitle</key>
		<string>流行元素 权威榜单</string>
		<key>title</key>
		<string>正在流行</string>
	</dict>
	<dict>
		<key>goods</key>
		<array>
			<dict>
				<key>url</key>
				<string>http://d02.res.meilishuo.net/img/_o/4d/f2/42d0c6d0d7369f49bbb2ac46bef1_489_226.cf.jpg_c07c4475_s0_290_134.jpg</string>
			</dict>
			<dict>
				<key>url</key>
				<string>http://d04.res.meilishuo.net/img/_o/92/30/093f9f3609a42319df24eb6a0047_489_226.cf.jpg_f3c39dd0_s0_290_134.jpg</string>
			</dict>
			<dict>
				<key>url</key>
				<string>http://d06.res.meilishuo.net/img/_o/96/af/9dc0daa4da1e59b04f34c7f88232_489_226.ch.jpg_aaa3dfdf_s0_290_134.jpg</string>
			</dict>
			<dict>
				<key>url</key>
				<string>http://d06.res.meilishuo.net/img/_o/45/47/bd261b5208576618dcc427d81796_489_226.ch.jpg_b403cc1d_s0_290_134.jpg</string>
			</dict>
			<dict>
				<key>url</key>
				<string>http://d05.res.meilishuo.net/img/_o/07/df/dca5f053809a62dd7156f813f6f6_489_226.ch.jpg_dc2017d0_s0_290_134.jpg</string>
			</dict>
			<dict>
				<key>url</key>
				<string>http://d05.res.meilishuo.net/img/_o/42/7f/77b31d787e8530c99c287b322533_489_226.ch.jpg_e9f33a22_s0_290_134.jpg</string>
			</dict>
			<dict>
				<key>url</key>
				<string>http://d02.res.meilishuo.net/img/_o/52/80/a5e3fadceffa2d718a3a3338a766_489_226.cg.jpg_b50a4014_s0_290_134.jpg</string>
			</dict>
			<dict>
				<key>url</key>
				<string>http://d03.res.meilishuo.net/img/_o/da/62/a549720a4317ff8133f8f67a48de_489_226.cg.jpg_734b1419_s0_290_134.jpg</string>
			</dict>
			<dict>
				<key>url</key>
				<string>http://d03.res.meilishuo.net/img/_o/4b/8a/b496c358211218888ae360254bdd_489_226.ch.jpg_8f55e536_s0_290_134.jpg</string>
			</dict>
			<dict>
				<key>url</key>
				<string>http://d05.res.meilishuo.net/img/_o/98/62/1c33d19e05fe0139f9bfb48b8fb0_489_226.cg.jpg_24a71c5b_s0_290_134.jpg</string>
			</dict>
			<dict>
				<key>url</key>
				<string>http://d04.res.meilishuo.net/img/_o/72/a1/e558370b84812c1bf139d108cb4a_489_226.cf.jpg_46382d61_s0_290_134.jpg</string>
			</dict>
			<dict>
				<key>url</key>
				<string>http://d06.res.meilishuo.net/img/_o/25/60/32705bb3a6b1d0da815be21b9f0a_489_226.cg.jpg_8ad58009_s0_290_134.jpg</string>
			</dict>
			<dict>
				<key>url</key>
				<string>http://d03.res.meilishuo.net/img/_o/01/6e/85a7a6e04b4df9388608bdf49aef_489_226.ch.jpg_7c3ef0ee_s0_290_134.jpg</string>
			</dict>
			<dict>
				<key>url</key>
				<string>http://d06.res.meilishuo.net/img/_o/65/90/5abe12fd5013bf2f6eb0a6a95f6d_489_226.cf.jpg_6a775b79_s0_290_134.jpg</string>
			</dict>
			<dict>
				<key>url</key>
				<string>http://d03.res.meilishuo.net/img/_o/7b/7c/771356756374072cbcbb6979c838_489_226.cf.jpg_35cf5b53_s0_290_134.jpg</string>
			</dict>
			<dict>
				<key>url</key>
				<string>http://imgtest-dl.meiliworks.com/img/_o/4c/6c/382d9450422e2466f2b35f74a2a3_489_226.ch.jpg_9bef072e_s0_290_134.jpg</string>
			</dict>
			<dict>
				<key>url</key>
				<string>http://d06.res.meilishuo.net/img/_o/76/34/11bf2da82ba113a7fa8fc0f86b0e_489_226.cf.jpg_df6417ee_s0_290_134.jpg</string>
			</dict>
			<dict>
				<key>url</key>
				<string>http://d04.res.meilishuo.net/img/_o/6f/38/a07d4ed489807655199ab9000d05_489_226.cf.jpg_cf4d3cf5_s0_290_134.jpg</string>
			</dict>
		</array>
		<key>subtitle</key>
		<string>时尚买手 带你扫货</string>
		<key>title</key>
		<string>尖货市集</string>
	</dict>
	<dict>
		<key>goods</key>
		<array>
			<dict>
				<key>url</key>
				<string>http://d06.res.meilishuo.net/img/_o/ed/5c/79e55f5318a69ac52a4017730d1d_784_1130.cf.jpg_22c297bc_s0_464_668.jpg</string>
			</dict>
			<dict>
				<key>url</key>
				<string>http://imgtest.meiliworks.com/img/_o/03/79/82cdb2ab39c7cf785980098535a9_784_1130.ch.jpg_b90731d3_s0_464_668.jpg</string>
			</dict>
			<dict>
				<key>url</key>
				<string>http://d06.res.meilishuo.net/img/_o/be/1a/bcda60146ead948ce9ff28c32c00_784_1130.cg.jpg_67ee94e7_s0_464_668.jpg</string>
			</dict>
			<dict>
				<key>url</key>
				<string>http://d05.res.meilishuo.net/img/_o/67/a4/980224dd4f3f1902bd136d2facd4_784_1130.ch.jpg_cbe99e87_s0_464_668.jpg</string>
			</dict>
			<dict>
				<key>url</key>
				<string>http://d02.res.meilishuo.net/img/_o/11/f3/56bb579e2b6153de36c13219cea7_784_1130.cf.jpg_159ae769_s0_464_668.jpg</string>
			</dict>
		</array>
		<key>subtitle</key>
		<string>实拍搭配 整身特惠</string>
		<key>title</key>
		<string>99元变女神</string>
	</dict>
</array>
</plist>
