<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bigTitle</key>
		<string>每日精选</string>
		<key>engTitle</key>
		<string>Best Seller</string>
		<key>goods</key>
		<array>
			<dict>
				<key>name</key>
				<string>潮流同款</string>
				<key>url</key>
				<string>http://d06.res.meilishuo.net/img/_o/07/a3/1530602c39759a8aef5f67cec9a6_160_160.cg.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>秋季新品</string>
				<key>url</key>
				<string>http://d05.res.meilishuo.net/img/_o/2e/a4/f1238f917250052fffd6d610262f_160_160.ch.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>魅力性感</string>
				<key>url</key>
				<string>http://d05.res.meilishuo.net/img/_o/49/da/6e17671ce1d3ebc35d56b35e2612_160_160.cg.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>清新女神</string>
				<key>url</key>
				<string>http://d06.res.meilishuo.net/img/_o/4d/df/d2518aa027bb825e7dd20eee06ec_160_160.cg.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>衬衫</string>
				<key>url</key>
				<string>http://d06.res.meilishuo.net/img/_o/44/d8/9af197435ab2d0dff0b558589641_160_160.cf.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>外套</string>
				<key>url</key>
				<string>http://d05.res.meilishuo.net/img/_o/c9/04/9e6decfeb27b54ac727edd970eaf_160_160.cg.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>时尚套装</string>
				<key>url</key>
				<string>http://d01.res.meilishuo.net/img/_o/e2/64/568c92d5f41a6cbc5d8caf116945_160_160.cg.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>长袖T恤</string>
				<key>url</key>
				<string>http://d04.res.meilishuo.net/img/_o/0a/4c/e4709c563d6894cd3e8616b440ea_160_160.cf.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>连衣裙</string>
				<key>url</key>
				<string>http://d06.res.meilishuo.net/img/_o/f7/5d/ef979db30f234900342f943821a9_160_160.cg.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>小黑裙</string>
				<key>url</key>
				<string>http://d05.res.meilishuo.net/img/_o/9e/6d/25e8b6b47c3a745417949569f82c_160_160.cg.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>小脚裤</string>
				<key>url</key>
				<string>http://d05.res.meilishuo.net/img/_o/f1/44/ba9333f1a30b3681a0a9886e8cc7_160_160.cg.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>牛仔裤</string>
				<key>url</key>
				<string>http://d04.res.meilishuo.net/img/_o/45/c9/92f8bdabe7397f5a239038a526af_160_160.cg.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>小白鞋</string>
				<key>url</key>
				<string>http://d03.res.meilishuo.net/img/_o/cc/f1/8762e8981fa48a829d0f9a991595_160_160.cf.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>高跟鞋</string>
				<key>url</key>
				<string>http://d04.res.meilishuo.net/img/_o/00/70/02dddf3125b13f19b1221bbe3c9b_160_160.cf.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>运动鞋</string>
				<key>url</key>
				<string>http://d05.res.meilishuo.net/img/_o/f9/43/531b39d59a4d4f4536dc4b26e673_160_160.cg.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>无痕内衣</string>
				<key>url</key>
				<string>http://d05.res.meilishuo.net/img/_o/d0/da/955861b4df43787940c66664e32c_160_160.cg.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>手提包</string>
				<key>url</key>
				<string>http://d06.res.meilishuo.net/img/_o/c3/1f/125727746ede3148150c5809e357_160_160.cg.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>双肩包</string>
				<key>url</key>
				<string>http://d02.res.meilishuo.net/img/_o/99/e5/7221c4ff7848be5fe9a36603aa72_160_160.cf.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>锁骨链</string>
				<key>url</key>
				<string>http://d02.res.meilishuo.net/img/_o/f5/ae/da43cda95ed0181c5edbd87810a7_160_160.ch.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>帽子</string>
				<key>url</key>
				<string>http://d05.res.meilishuo.net/img/_o/a4/fb/a6b35896919e77f2e529a80cc138_160_160.cg.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>厨房电器</string>
				<key>url</key>
				<string>http://d04.res.meilishuo.net/img/_o/58/bf/d8c994003402cd10750c94cb8d7f_160_160.cf.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>四件套</string>
				<key>url</key>
				<string>http://d05.res.meilishuo.net/img/_o/39/b7/a9c56ec853deaf25c1e957ded2b8_160_160.cg.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>收纳</string>
				<key>url</key>
				<string>http://d05.res.meilishuo.net/img/_o/63/19/87e8b0118bc1a8b819ccef130841_160_160.cf.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>热销零食</string>
				<key>url</key>
				<string>http://d04.res.meilishuo.net/img/_o/9e/4a/1a38cc437c9b7f492045bf6f454a_160_160.ch.jpg</string>
			</dict>
		</array>
		<key>groupNum</key>
		<string>0</string>
		<key>rightTitle</key>
		<string>属于你的时尚推荐</string>
	</dict>
	<dict>
		<key>bigTitle</key>
		<string>2015流行</string>
		<key>engTitle</key>
		<string>Fashion Trend</string>
		<key>goods</key>
		<array>
			<dict>
				<key>name</key>
				<string>2015流行</string>
				<key>url</key>
				<string>http://d06.res.meilishuo.net/img/_o/56/f8/2a2c9b8455ef10ee223ff8097d22_160_160.ch.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>极简风</string>
				<key>url</key>
				<string>http://d06.res.meilishuo.net/img/_o/57/fa/678ca1fb62ad767299a3d1a334c1_160_160.ch.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>民族风</string>
				<key>url</key>
				<string>http://d04.res.meilishuo.net/img/_o/d5/d6/b71dd12a6faaede73fe15d4d6c5d_160_160.cf.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>复古风</string>
				<key>url</key>
				<string>http://d06.res.meilishuo.net/img/_o/f6/46/f0dd5ece3d59df39cfdd667ee1a1_160_160.ch.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>嬉皮风</string>
				<key>url</key>
				<string>http://d06.res.meilishuo.net/img/_o/bf/20/ddd262968a85fc2f74d90927e42f_160_160.cg.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>波西米亚风</string>
				<key>url</key>
				<string>http://d06.res.meilishuo.net/img/_o/23/9f/93c5c037089dfa70c87fa7e93e97_160_160.cf.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>运动风</string>
				<key>url</key>
				<string>http://d06.res.meilishuo.net/img/_o/90/ae/af290a00c81ccda8e5684b19ed16_160_160.ch.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>新浪漫主义</string>
				<key>url</key>
				<string>http://d06.res.meilishuo.net/img/_o/01/78/94ca98e6355e2a48a34b25d20935_160_160.cf.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>短款皮衣</string>
				<key>url</key>
				<string>http://d01.res.meilishuo.net/img/_o/ca/df/ba1412a7407b6b6c4e676a79424e_160_160.cg.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>短外套</string>
				<key>url</key>
				<string>http://d04.res.meilishuo.net/img/_o/21/f8/6e4895c0379e76fabc6160c60242_160_160.cf.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>流苏针织衫</string>
				<key>url</key>
				<string>http://d02.res.meilishuo.net/img/_o/86/2f/a4fe9150138af228b38bc7141d25_160_160.ch.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>长款毛衣</string>
				<key>url</key>
				<string>http://d06.res.meilishuo.net/img/_o/e7/13/2ddffd8f58e26f7a0a991e7f4d03_160_160.cf.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>针织半身裙</string>
				<key>url</key>
				<string>http://d06.res.meilishuo.net/img/_o/0e/f1/c6b2a34dce30e115ee73cd54b62d_160_160.cf.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>条纹针织裙</string>
				<key>url</key>
				<string>http://d02.res.meilishuo.net/img/_o/ce/5f/375ae13c0a124756b6e7f903f777_160_160.ch.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>补丁牛仔裤</string>
				<key>url</key>
				<string>http://d03.res.meilishuo.net/img/_o/c2/d9/d2703f085e3609981234bccc0595_160_160.cf.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>九分阔腿裤</string>
				<key>url</key>
				<string>http://d04.res.meilishuo.net/img/_o/60/dc/bc843c7a7942ff387ffac427412f_160_160.ch.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>乐福鞋</string>
				<key>url</key>
				<string>http://d02.res.meilishuo.net/img/_o/24/ac/f2b9cf9ec82b5798506ca1322ccf_160_160.cg.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>方头鞋</string>
				<key>url</key>
				<string>http://d05.res.meilishuo.net/img/_o/5d/17/956d555ff6c3678e43b1f85753b1_160_160.ch.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>极简包袋</string>
				<key>url</key>
				<string>http://d02.res.meilishuo.net/img/_o/ad/13/b641e594854ebe52374585276765_160_160.cg.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>复古手提包</string>
				<key>url</key>
				<string>http://d04.res.meilishuo.net/img/_o/9a/e9/70f6ccfbdc389c915ab66226db3c_160_160.cg.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>牛仔</string>
				<key>url</key>
				<string>http://d06.res.meilishuo.net/img/_o/34/05/4c0b7685a302eaa53749229598a5_160_160.ch.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>麂皮</string>
				<key>url</key>
				<string>http://d05.res.meilishuo.net/img/_o/13/f1/c80724df9cdc8a5ef5a7f342c114_160_160.ch.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>蕾丝</string>
				<key>url</key>
				<string>http://d05.res.meilishuo.net/img/_o/c0/fb/752c350e10eddc9aff89cf801e0f_160_160.cg.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>皮革</string>
				<key>url</key>
				<string>http://d06.res.meilishuo.net/img/_o/07/61/da6c940efc51de814514e6a1f81b_160_160.cf.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>荷叶边</string>
				<key>url</key>
				<string>http://d04.res.meilishuo.net/img/_o/a1/b6/697bb8cb7cbfd8c42afc2993bd3d_160_160.cg.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>蝴蝶结</string>
				<key>url</key>
				<string>http://d04.res.meilishuo.net/img/_o/88/d5/b020d94700f230bd8db8fd4cde09_160_160.cf.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>娃娃领</string>
				<key>url</key>
				<string>http://d03.res.meilishuo.net/img/_o/6e/fc/7cc6b594e706451c733432da41a9_160_160.cf.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>字母</string>
				<key>url</key>
				<string>http://d03.res.meilishuo.net/img/_o/56/67/e4308b3fdbf6c80cfcad87693522_160_160.cf.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>刺绣</string>
				<key>url</key>
				<string>http://d06.res.meilishuo.net/img/_o/3a/dc/c9a100081821787edb25deee27be_160_160.ch.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>钉珠</string>
				<key>url</key>
				<string>http://d05.res.meilishuo.net/img/_o/eb/06/c4c64f3f9e20efd5b0649e482d61_160_160.cf.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>立体花朵</string>
				<key>url</key>
				<string>http://d05.res.meilishuo.net/img/_o/08/31/d8e374dfbdb3a1dcc5c37addbb5d_160_160.cg.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>镂空</string>
				<key>url</key>
				<string>http://d04.res.meilishuo.net/img/_o/5c/95/8a610a16b769b93e50b58db2a015_160_160.cg.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>颜料盒亮色</string>
				<key>url</key>
				<string>http://d04.res.meilishuo.net/img/_o/da/e8/eda72fc23856c52b5205eeeae7f3_160_160.cg.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>冰浅色</string>
				<key>url</key>
				<string>http://d05.res.meilishuo.net/img/_o/93/e6/7434ca98f60b5c5dbca77669ae53_160_160.cg.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>柑橘色</string>
				<key>url</key>
				<string>http://d05.res.meilishuo.net/img/_o/64/77/0284b7b6f66ae6646e03c7c092ba_160_160.ch.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>橄榄绿</string>
				<key>url</key>
				<string>http://d05.res.meilishuo.net/img/_o/13/74/3d0cf89b759c14435ae1b0aece85_160_160.cg.png</string>
			</dict>
		</array>
		<key>groupNum</key>
		<string>1</string>
		<key>rightTitle</key>
		<string>你的专属流行指南</string>
	</dict>
	<dict>
		<key>bigTitle</key>
		<string>时尚经典</string>
		<key>engTitle</key>
		<string>Classic Chic</string>
		<key>goods</key>
		<array>
			<dict>
				<key>name</key>
				<string>时尚经典</string>
				<key>url</key>
				<string>http://d04.res.meilishuo.net/img/_o/13/4e/8e357b6bbc5d565ebb68cecc33c3_160_160.ch.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>欧美风</string>
				<key>url</key>
				<string>http://d05.res.meilishuo.net/img/_o/d0/c2/39e05d289fb44d8d6fd34723363a_160_160.cg.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>韩系风</string>
				<key>url</key>
				<string>http://d06.res.meilishuo.net/img/_o/4f/a8/8dedb0c82ed62b8d0d2fd05be269_160_160.ch.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>小香风</string>
				<key>url</key>
				<string>http://d06.res.meilishuo.net/img/_o/c6/3a/c21c1757b7e1afaf5ecc02ecd4ae_160_160.cf.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>森女风</string>
				<key>url</key>
				<string>http://d05.res.meilishuo.net/img/_o/c1/4b/472623bc12e28b3bbcdaa347b26f_160_160.cg.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>OL风</string>
				<key>url</key>
				<string>http://d05.res.meilishuo.net/img/_o/4d/e4/1e0d2a07363f2666656f4c50ce84_160_160.cg.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>海军风</string>
				<key>url</key>
				<string>http://d06.res.meilishuo.net/img/_o/11/ce/3961f05ed1ca69997e40502cb54b_160_160.cf.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>学院风</string>
				<key>url</key>
				<string>http://d03.res.meilishuo.net/img/_o/33/55/55434421f6327d715ccf6d80a5cc_160_160.cf.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>纯棉</string>
				<key>url</key>
				<string>http://d05.res.meilishuo.net/img/_o/1b/91/97db5ac4f5410ee1abd8ca905aa0_160_160.cf.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>针织</string>
				<key>url</key>
				<string>http://d06.res.meilishuo.net/img/_o/55/11/69a1622431b2d6aedf4ad7fc9674_160_160.cf.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>雪纺</string>
				<key>url</key>
				<string>http://d06.res.meilishuo.net/img/_o/1d/d1/58ab4a04f2677373d2ac46833a2a_160_160.cf.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>亚麻</string>
				<key>url</key>
				<string>http://d06.res.meilishuo.net/img/_o/7c/fa/d2deeb9d87a38e9c80922abb23c6_160_160.cf.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>豹纹</string>
				<key>url</key>
				<string>http://d04.res.meilishuo.net/img/_o/fc/0a/9b8e2e91b8137757e5c047c9ca54_160_160.cf.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>印花</string>
				<key>url</key>
				<string>http://d05.res.meilishuo.net/img/_o/54/67/5ee1ee16add2777bcdffeb917311_160_160.cg.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>做旧</string>
				<key>url</key>
				<string>http://d04.res.meilishuo.net/img/_o/9c/49/75ab0aca2524d4825b033e33fe44_160_160.ch.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>条纹</string>
				<key>url</key>
				<string>http://d06.res.meilishuo.net/img/_o/44/d9/586fd0dd17b78004512fc3ac9440_160_160.cf.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>迷彩</string>
				<key>url</key>
				<string>http://d06.res.meilishuo.net/img/_o/f5/86/f9dd2d6c0f8a34e350f7f72ebdc3_160_160.cg.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>卡通</string>
				<key>url</key>
				<string>http://d02.res.meilishuo.net/img/_o/2b/15/246d9e09d0e11474a91a454f860e_160_160.ch.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>格子</string>
				<key>url</key>
				<string>http://d02.res.meilishuo.net/img/_o/ed/68/a8bd4b06082357876965244da041_160_160.cg.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>千鸟格</string>
				<key>url</key>
				<string>http://d05.res.meilishuo.net/img/_o/86/8a/05fd79af1298f2c92e6a1c63c065_160_160.ch.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>马卡龙色</string>
				<key>url</key>
				<string>http://d03.res.meilishuo.net/img/_o/24/e4/e73b770cf3ffbc659eaf9acf6a5d_160_160.ch.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>蓝色</string>
				<key>url</key>
				<string>http://d02.res.meilishuo.net/img/_o/e1/a1/1320117c8bc7686828a91dc4e0c1_160_160.ch.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>樱花粉</string>
				<key>url</key>
				<string>http://d05.res.meilishuo.net/img/_o/61/dc/cefef81b3a10d71a6f245ac7c48c_160_160.ch.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>中国红</string>
				<key>url</key>
				<string>http://d05.res.meilishuo.net/img/_o/4c/09/8ab74b430dfebf1cb4c47857dd11_160_160.ch.jpg</string>
			</dict>
		</array>
		<key>groupNum</key>
		<string>2</string>
		<key>rightTitle</key>
		<string>永不褪色的经典</string>
	</dict>
	<dict>
		<key>bigTitle</key>
		<string>实穿百搭</string>
		<key>engTitle</key>
		<string>Easy Outfit </string>
		<key>goods</key>
		<array>
			<dict>
				<key>name</key>
				<string>牛仔外套</string>
				<key>url</key>
				<string>http://d02.res.meilishuo.net/img/_o/05/49/b27f736b929bc096e49d9cb9f0a8_160_160.cg.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>针织开衫</string>
				<key>url</key>
				<string>http://imgtest.meiliworks.com/img/_o/a8/9a/2f6f3ece949073f77f2609a084cf_160_160.cf.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>系带风衣</string>
				<key>url</key>
				<string>http://d03.res.meilishuo.net/img/_o/fa/a2/65145068877027eacdcd63213c96_160_160.cg.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>西装外套</string>
				<key>url</key>
				<string>http://d02.res.meilishuo.net/img/_o/e2/22/b3a4d6c207dc555f7f1b1319566f_160_160.cf.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>白色T恤</string>
				<key>url</key>
				<string>http://d03.res.meilishuo.net/img/_o/e8/71/6a37f12810c70b7288885a407a2b_160_160.ch.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>打底背心</string>
				<key>url</key>
				<string>http://d02.res.meilishuo.net/img/_o/7d/d1/95e4d858acf8d67ae4f9e7181602_160_160.ch.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>修身牛仔裤</string>
				<key>url</key>
				<string>http://imgtest.meiliworks.com/img/_o/0f/a1/6f782b899736d45565485b1e3872_160_160.cf.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>黑色小脚裤</string>
				<key>url</key>
				<string>http://d05.res.meilishuo.net/img/_o/c1/fa/812024aff49720a26ea4789c77a6_160_160.cg.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>廓形毛衣</string>
				<key>url</key>
				<string>http://d02.res.meilishuo.net/img/_o/dc/24/458473ddec4c5b227a2d1127168c_160_160.cf.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>双排扣外套</string>
				<key>url</key>
				<string>http://d06.res.meilishuo.net/img/_o/b7/b1/e134ab47ecd430488dd64665139b_160_160.cg.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>条纹衬衫</string>
				<key>url</key>
				<string>http://d05.res.meilishuo.net/img/_o/1d/0c/a584e0da7582cd1d5045c3f849b8_160_160.cg.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>印花衬衫</string>
				<key>url</key>
				<string>http://d06.res.meilishuo.net/img/_o/09/38/4de4fde47c8d67b8098de2ebb2b7_160_160.cg.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>牛仔阔腿裤</string>
				<key>url</key>
				<string>http://d05.res.meilishuo.net/img/_o/e6/79/7915d1665129c299caf735f8930b_160_160.cf.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>背带牛仔裤</string>
				<key>url</key>
				<string>http://d02.res.meilishuo.net/img/_o/e3/73/685fbf0c62fb81ebd28b5a19787e_160_160.cf.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>包臀半身裙</string>
				<key>url</key>
				<string>http://d05.res.meilishuo.net/img/_o/65/e0/770400c68259f7a02a9db1bab222_160_160.cf.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>运动裙</string>
				<key>url</key>
				<string>http://d02.res.meilishuo.net/img/_o/2b/45/a7f52f2b91f5be7db60b4c93a8d0_160_160.ch.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>高帮运动鞋</string>
				<key>url</key>
				<string>http://d05.res.meilishuo.net/img/_o/2b/cf/5481951fa1f3f94f71afab9cc8ef_160_160.cf.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>厚底一脚蹬</string>
				<key>url</key>
				<string>http://d05.res.meilishuo.net/img/_o/15/66/181fcb9634a1e3eb0eb5eafacd43_160_160.ch.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>单肩挎包</string>
				<key>url</key>
				<string>http://d04.res.meilishuo.net/img/_o/65/62/2705553a1f38a2799595e4e7bb46_160_160.cg.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>长款钱包</string>
				<key>url</key>
				<string>http://d04.res.meilishuo.net/img/_o/f2/e2/dccf6a6a213dac5513fd5c987571_160_160.ch.jpg</string>
			</dict>
		</array>
		<key>groupNum</key>
		<string>3</string>
		<key>rightTitle</key>
		<string>不会错的搭配单品</string>
	</dict>
	<dict>
		<key>bigTitle</key>
		<string>百变廓形</string>
		<key>engTitle</key>
		<string>Various Silhouette</string>
		<key>goods</key>
		<array>
			<dict>
				<key>name</key>
				<string>宽松</string>
				<key>url</key>
				<string>http://d06.res.meilishuo.net/img/_o/57/91/ba5917c5f2692653856e78a759f9_160_160.cg.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>收腰</string>
				<key>url</key>
				<string>http://d04.res.meilishuo.net/img/_o/e0/0a/ac658487153ce18f842a9da6aac9_160_160.cg.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>紧身</string>
				<key>url</key>
				<string>http://d05.res.meilishuo.net/img/_o/e3/1b/e3d1c80870da33d7f3b0b2637076_160_160.ch.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>直筒</string>
				<key>url</key>
				<string>http://d04.res.meilishuo.net/img/_o/b9/30/a25ad46820a5606b85bdb11652e5_160_160.ch.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>X型</string>
				<key>url</key>
				<string>http://d05.res.meilishuo.net/img/_o/0e/de/102c5d9881541fc32bb99ad3259b_160_160.ch.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>S型</string>
				<key>url</key>
				<string>http://d05.res.meilishuo.net/img/_o/fa/09/bcb760b1c0f3a8c0a2e07395b72c_160_160.ch.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>H型</string>
				<key>url</key>
				<string>http://d03.res.meilishuo.net/img/_o/2b/2d/a1136cf2c29156e3294be88722b4_160_160.cf.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>A字</string>
				<key>url</key>
				<string>http://d06.res.meilishuo.net/img/_o/23/ec/d53255c67f853c8b51f71d6d676e_160_160.ch.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>短款</string>
				<key>url</key>
				<string>http://d06.res.meilishuo.net/img/_o/c8/93/0a4a78f79c4618894fbcfd93cdb5_160_160.ch.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>长款</string>
				<key>url</key>
				<string>http://d06.res.meilishuo.net/img/_o/9b/0c/eb5845630d7815844310e5a38036_160_160.cf.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>阔口</string>
				<key>url</key>
				<string>http://d06.res.meilishuo.net/img/_o/c2/52/2a07b5c9e91fa5e477b466abce55_160_160.cf.jpg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>高腰</string>
				<key>url</key>
				<string>http://d06.res.meilishuo.net/img/_o/fa/3b/941dc36fae3592a11710f7ba0613_160_160.cg.jpg</string>
			</dict>
		</array>
		<key>groupNum</key>
		<string>4</string>
		<key>rightTitle</key>
		<string>修饰身材轻松搞定</string>
	</dict>
</array>
</plist>
